<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Login</title>
</head>
<body>
 <nav>
  <a href="/">Home</a>&nbsp;&nbsp;
  <a href="/contact/">Contact</a>&nbsp;&nbsp;

  {% if request.user.is_authenticated %}
    <a href="/form/">Form</a>&nbsp;&nbsp;
    <a href="/user_list/">User List</a>&nbsp;&nbsp;
    <a href="/product/">Products</a>&nbsp;&nbsp;
    <a href="/logout/">Logout</a>
  {% else %}
    <a href="/login/">Login</a>&nbsp;&nbsp;
    <a href="/register/">Register</a>
  {% endif %}
</nav>

  <h1>Users Login</h1>
  <hr>

  {% if messages %}
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    <label>Username:</label>
    <input type="text" name="username" required><br><br>

    <label>Password:</label>
    <input type="password" name="password" required><br><br>

    <button type="submit">Login</button>
  </form>
</body>
</html>
